<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picture</key>
		<string>00</string>
		<key>text</key>
		<string>大家的放开了健康了圣诞节，地方好看了都洒了困难，大家疯狂的垃圾分开了手机，两次仙女龙科技，觉得快乐三姑婆</string>
		<key>icon</key>
		<string>0</string>
		<key>vip</key>
		<integer>0</integer>
		<key>name</key>
		<string>大课间个</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>10</string>
		<key>text</key>
		<string>大家的放开了健康了圣诞节，地方好看了都洒了困难</string>
		<key>icon</key>
		<string>1</string>
		<key>vip</key>
		<integer>0</integer>
		<key>name</key>
		<string>大课间个</string>
	</dict>
	<dict>
		<key>picture</key>
		<string></string>
		<key>text</key>
		<string>大家的放开了健康了圣诞节，地方好看了都洒了困难，大家疯狂的垃圾分开了手机，两次仙女龙科技，觉得快乐三姑婆</string>
		<key>icon</key>
		<string>2</string>
		<key>vip</key>
		<integer>0</integer>
		<key>name</key>
		<string>大课间个</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>30</string>
		<key>text</key>
		<string>大家的放开了健康了圣诞节，地方好看了都洒了困难，大家疯狂的垃圾分开了手机，两次仙女龙科技，觉得快乐三姑婆</string>
		<key>icon</key>
		<string>3</string>
		<key>vip</key>
		<integer>0</integer>
		<key>name</key>
		<string>大课间个</string>
	</dict>
	<dict>
		<key>picture</key>
		<string></string>
		<key>text</key>
		<string>大家的放开了健康了圣诞节</string>
		<key>icon</key>
		<string>4</string>
		<key>vip</key>
		<integer>0</integer>
		<key>name</key>
		<string>大课间个</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>20</string>
		<key>text</key>
		<string>大家的放开了健康了圣诞节，地方好看了都洒了困难，大家疯狂的垃圾分开了手机，两次仙女龙科技，觉得快乐三姑婆</string>
		<key>icon</key>
		<string>5</string>
		<key>vip</key>
		<integer>0</integer>
		<key>name</key>
		<string>大课间个</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>30</string>
		<key>text</key>
		<string>大家的放开了健康了圣诞节，地方好看了都洒了困难</string>
		<key>icon</key>
		<string>6</string>
		<key>vip</key>
		<integer>0</integer>
		<key>name</key>
		<string>大课间个</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>20</string>
		<key>text</key>
		<string>大家的放开了健康了圣诞节，地方好看了都洒了困难，大家疯狂的垃圾分开了手机，两次仙女龙科技，觉得快乐三姑婆</string>
		<key>icon</key>
		<string>7</string>
		<key>vip</key>
		<integer>0</integer>
		<key>name</key>
		<string>大课间个</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>10</string>
		<key>text</key>
		<string>大家的放开了健康了圣诞节，地方好看了都洒了困难，大家疯狂的垃圾分开了手机，两次仙女龙科技，觉得快乐三姑婆</string>
		<key>icon</key>
		<string>8</string>
		<key>vip</key>
		<integer>0</integer>
		<key>name</key>
		<string>大课间个</string>
	</dict>
</array>
</plist>
